.column-plot-label.text-support-medium {
    text-align: center;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
}

.column-plot-value.text-support-medium {
    font-weight: 700;
}