:root {
    --country-card-width: 300px;
    --country-card-height: 400px;
}

.carousel-track {
    overflow-x: auto;
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
}

.carousel-card {
    min-width: var(--country-card-width);
    /*height: var(--country-card-height);*/
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carousel-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.carousel-card-row {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;

}

.carousel-card-settings-partner,
.carousel-card-settings-tariff {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px
}

.carousel-scroll-message.text-support-small {
    margin: 10px 0 0;
}