:root {
    --country-card-width: 300px;
    --country-card-height: 400px;
}

.carousel-track {
    overflow-x: auto;
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
}

.carousel-card {
    min-width: var(--country-card-width);
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--margin-medium);
}

.carousel-card-header {
    gap: var(--margin-small);
    margin-bottom: var(--margin-medium);
}

.carousel-card .flag-icon-container {
    width: var(--flag-icon-size-large);
    height: var(--flag-icon-size-large);
    flex-shrink: 0;
}

.carousel-card-row,
.carousel-card-settings {
    gap: var(--margin-small);
}

.carousel-card-row {
    flex-direction: column;
    text-align: left;
}

.carousel-card-settings {
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.carousel-card > .download-share-buttons {
    margin-top: var(--margin-medium);
}

.carousel-scroll-message.text-support-small {
    margin-top: var(--margin-small);
}