.dropdown-menu {
    width: var(--filters-width);
    position: relative;
    background: white;
}

.dropdown-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: white;
    padding: 0.25em .5em;
    border: 2px black solid;
    border-radius: 6px;
    min-width: 150px;
    height: 22px;
}

.dropdown-selected.inactive {
    background: var(--color-grey);
    opacity: 0.5;
}

.dropdown-selected > .text-inputs {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-chevron {
    margin-left: 0.5em;
    transition: transform 0.2s ease;
}

.dropdown-chevron.rotate {
    transform: rotate(180deg);
}

.dropdown-list {
    width: var(--filters-width);
    display: flex;
    flex-direction: column;
    padding: 0.25em .5em;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    background: white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    z-index: 10;
    box-sizing: border-box;
}

.dropdown-list-container {
    position: absolute;
    background: white;
    z-index: 10;
}

.dropdown-list-item {
    font-weight: 500;
    padding: 5px 0;
    cursor: pointer;
}

.dropdown-list-item:hover,
.dropdown-list-item:focus {
    background: #F8F7F8;
    border: none;
    outline: none;
}

.dropdown-search {
    width: calc(var(--filters-width) - 16px) !important;
    box-sizing: border-box;
    padding: 4px 6px;
    margin: 10px 8px;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-transform: uppercase;
}