.exposure-card {
    width: var(--wrapper-width);
    margin: 50px auto;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
    gap: 30px
}

.description-text {
    font-family: Italian Plate;
    font-weight: 700;
    font-size: 30.4px;
    line-height: 33.44px;
    letter-spacing: 0px;
    text-align: left;
}

.exports-text {
    font-family: Italian Plate;
    font-weight: 400;
    font-size: 28px;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: left;
}

.tariff-text {
    font-family: Italian Plate;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 1%;
    vertical-align: middle;
}