.exposure-card {
    /* width: var(--main-block-width); */
    max-width: 100%;
    margin: var(--margin-extra-large) auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--margin-medium);
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.tariff-text {
    letter-spacing: 1%;
    width: max-content;
}