:root {
    --flag-icon-size-small: 28px;
    --flag-icon-size-large: 52px;
}

.flag-icon-container {
    border-radius: 50%;
    border: 1px solid #0000001c;
    overflow: hidden;
    display: inline-block;
}