:root {
    --swatch-width: 82px;
    --swatch-height: 17px;
}

.legend {
    margin-bottom: 60px;
}

.legend-title {
    font-family: Italian Plate;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.75%;
    text-align: left;
    margin-bottom: 10px;
}

.legend-subtitle {
    font-family: Italian Plate;
    font-weight: 400;
    font-size: 30.4px;
    line-height: 33.44px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;
}

.legend-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.legend-item {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.legend-swatch {
    width: var(--swatch-width);
    height: var(--swatch-height);
}

.legend-item:nth-child(4) {
    margin-left: 10px;
}

.legend-item:nth-child(4) > .legend-swatch {
    border: 1px #0000001A solid
}

.legend-label {
    font-family: Italian Plate;
    font-weight: 400;
    font-size: 19.2px;
    line-height: 21.12px;
    letter-spacing: 0px;
}
