:root {
    --swatch-width: 82px;
    --swatch-height: 17px;
}

.legend {
    margin-bottom: var(--margin-large);
}

.legend-title.text-impact-medium {
    margin-bottom: var(--margin-small);
}

.legend-subtitle.text-support-xlarge {
    margin-bottom: var(--margin-medium);
}

.legend-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.legend-item {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.legend-swatch {
    width: var(--swatch-width);
    height: var(--swatch-height);
    box-sizing: border-box;
}

.legend-item:last-child {
    margin-left: var(--margin-small);
}

.legend-item:first-child > .legend-swatch{
    border: 1px #0000001A solid
}

.hatch-fill {
    border: 1px #0000001A solid;
    background-image: repeating-linear-gradient(
            135deg,
            #aaa,
            #aaa 1px,
            white 2px,
            white 6px
    );
    background-clip: padding-box;
}
