:root {
    --swatch-width: 82px;
    --swatch-height: 17px;
}

.legend {
    margin-bottom: var(--large-margin);
}

.legend-title.text-impact-medium {
    margin-bottom: var(--small-margin);
}

.legend-subtitle.text-support-xlarge {
    margin-bottom: var(--medium-margin);
}

.legend-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.legend-item {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.legend-swatch {
    width: var(--swatch-width);
    height: var(--swatch-height);
}

.legend-item:nth-child(4) {
    margin-left: 10px;
}

.legend-item:nth-child(4) > .legend-swatch {
    border: 1px #0000001A solid
}
