.methodology-container {
    margin-top: var(--margin-extra-large);
}

.methodology-header {
    display: flex;
    align-items:center;
    cursor: pointer;
    margin-bottom: var(--margin-medium);
}

.methodology-header > .dropdown-chevron {
    flex-shrink: 0;
    flex-grow: 0;
    height: 16px;
    width: 16px;
}

.methodology-container .text-body {
    margin-bottom: var(--margin-small);
}

.methodology-body-wrapper{
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.methodology-container .tariff-card {
    width: 90%;
    margin: var(--margin-large) auto;
}

.tariff-card pre {
    width: 90%;
    margin: var(--margin-small) auto;
}

.text-body.update-note {
    color: grey;
    font-style: italic;
    font-size: 75%;
    margin: 0 0 var(--margin-medium);
}

.text-body code {
    font-size: inherit;
}