@media (max-width: 600px) {
    .sticky-controls {
        position: fixed;
        top: unset;
        left: 0;
        margin: 0;
        bottom: 0 !important;
        background-color: white;
        transform: translate(0,0);
        z-index: 10;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .sticky-wrapper {
        width: 250px;
        margin: 0 auto;
    }

    .main-block svg {
        width: 100%;
        height: auto;
    }

    .exposure-card {
        flex-direction: column-reverse;
    }

    .legend-swatch {
        width: var(--swatch-width-mobile);
    }

    .carousel-card {
        min-width: 75%;
    }

    .selection-card-row-container {
        flex-direction: column;
    }

    .tooltip {
        display: none;
    }
}