:root {
    --controls-border-width: 2px;
    --controls-border: var(--controls-border-width) solid black;
    --controls-border-radius: 10px;
}

@media (max-width: 1390px) {
    .main-block {
        margin-left: calc(var(--controls-width) + var(--margin-medium) * 2);
    }

    .sticky-wrapper {
        margin-left: var(--margin-small);
    }
}

@media (max-width: 1120px) {
    .main-block {
        margin: auto;
    }

    .sticky-wrapper {
        position: fixed;
        top: unset;
        left: 0;
        bottom: 0;
        margin: 0;
        width: 100%;
        z-index: 10;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: end;
        transition: bottom 0.5s ease-in-out;
    }

    .controls-wrapper {
        width: 100%;
        padding: var(--margin-large) var(--margin-extra-large);
        margin: 0;
        background-color: white;

        border-top-left-radius: var(--controls-border-radius);
        border-top: var(--controls-border);
        border-right: var(--controls-border);
        border-left: var(--controls-border);
    }

    .dropdowns-wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--margin-medium);
    }

    .slider-wrapper {
        margin: 30px auto 0;
    }

    .show-hide-tab {
        width: 210px;
        padding: var(--margin-small) var(--margin-medium);
        box-sizing: border-box;
        background-color: white;
        float: right;
        margin-bottom: calc(-1 * var(--controls-border-width));
        z-index: 11;
        border-top-left-radius: var(--controls-border-radius);
        border-top-right-radius: var(--controls-border-radius);
        border-top: var(--controls-border);
        border-left: var(--controls-border);
        border-right: var(--controls-border);
        display: flex;
        flex-direction: row;
        gap: var(--margin-small);
        justify-content: center;
    }

    .show-hide-tab > .dropdown-chevron {
        margin: 0;

    }

    .show-hide-tab > .dropdown-chevron.rotate {
        transform: rotate(180deg);
    }

    .dropdown-list {
        max-height: 130px;
    }
}

@media (max-width: 768px) {
    .controls-wrapper {
        padding: var(--margin-large);
    }
}

@media (max-width: 680px) {
    .dropdowns-wrapper {
        flex-direction: column;
        align-items: center;
        gap: var(--margin-small);
    }
}

@media (max-width: 600px) {

    .main-block svg {
        width: 100%;
        height: auto;
    }

    .exposure-card {
        flex-direction: column-reverse;
    }

    .legend-swatch {
        width: var(--swatch-width-mobile);
    }

    .carousel-card {
        min-width: 75%;
    }

    .selection-card-row-container {
        flex-direction: column;
    }

    .tooltip {
        display: none;
    }
}