:root {
    --show-hide-tab-width: 20px;
    --show-hide-tab-height: 40px;
}

@media (max-width: 1390px) {
    .main-block {
        margin-left: calc(var(--filters-width) + var(--margin-medium) * 2);
    }

    .sticky-wrapper {
        margin-left: var(--margin-small);
    }
}

@media (max-width: 1120px) {
    .main-block {
        margin: auto;
    }

    .sticky-wrapper {
        position: fixed;
        top: 10%;
        right: 0;

        z-index: 10;

        text-align: center;

        display: flex;
        flex-direction: row;

        border-top: 1px solid black;
        border-top-left-radius: 6px;

        transition: right 0.5s ease-in-out;

    }

    .controls-wrapper {
        width: calc(var(--filters-width) + var(--margin-medium) * 2);
        padding: var(--margin-medium) var(--margin-medium) var(--margin-large);
        margin: 0 auto;
        background-color: white;

        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-bottom-left-radius: 6px;
    }

    .slider-wrapper {
        margin: 0 auto;
    }

    .dropdowns-wrapper {
        flex-direction: column;
        gap: var(--margin-small);
    }

    .show-hide-tab {
        display: block;
        background-color: white;
        padding: 20px 10px 20px 5px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;

        float: none;
        width: fit-content;
        height: fit-content;
        margin: 0 -1px 0 0;
        z-index: 11;
        text-align: center;
    }

    .show-hide-tab > .dropdown-chevron {
        margin: 0;
        transform: rotate(270deg);

    }

    .show-hide-tab > .dropdown-chevron.rotate {
        transform: rotate(90deg);
    }

    .dropdown-list {
        max-height: 130px;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 680px) {
    .dropdowns-wrapper {
        flex-direction: column;
        gap: var(--margin-small);
    }
}

@media (max-width: 600px) {

    .main-block svg {
        width: 100%;
        height: auto;
    }

    .exposure-card {
        flex-direction: column-reverse;
    }

    .legend-swatch {
        width: var(--swatch-width-mobile);
    }

    .carousel-card {
        min-width: 75%;
    }

    .selection-card-row-container {
        flex-direction: column;
    }

    .tooltip {
        display: none;
    }
}