.selection-card {
    width: var(--main-block-width);
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selection-card-swatch-plus-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.selection-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--medium-margin);
}

.selection-card-settings {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: var(--medium-margin);
}

.selection-card-settings-partner,
.selection-card-settings-tariff {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.selection-card-row {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.selection-card-row-with-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.selection-card-row-left-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.selection-card-row-right-column {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.hide {
    display: none;
}