.sticky-controls {
    position: fixed;
    top: 20%;
    left: 0;
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-support-medium.center-aligned {
    text-align: center;
}

.controls-separator {
    height: 1px;
    width: calc(var(--filters-width) - 34px);
    margin: 10px auto;
    border-bottom: 1px solid #CAC4D0;
}

.text-support-medium.extra-margin {
    margin-bottom: 10px;
}
