.subsection-title {
    font-family: Colfax;
    font-weight: 700;
    font-size: 44px;
    line-height: 51.2px;
    letter-spacing: 0px;
    margin-bottom: var(--medium-margin);
    text-align: left;
}