:root {
    --tariff-button-width: 46px;
    --tariff-button-height: 27px;
}

.tariff-buttons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.tariff-button.text-support-small {
    /*width: var(--tariff-button-width);*/
    height: var(--tariff-button-height);
    box-sizing: border-box;

    color: black;
    background-color: var(--color-grey);

    line-height: initial;
    text-align: center;
    vertical-align: middle;

    border: 2px solid var(--color-grey);
    border-radius: 6px;
    padding: 4px 8px;
}

.tariff-button.selected {
    font-weight: 700;
    color: white;
    background-color: black;
    border: 2px solid black;
}

.tariff-button:hover {
    cursor: pointer;
}

.tariff-button.selected:hover {
    cursor: default;
}
