/* tariff-card is the general class for cards in the app */

.tariff-card {
    border: 2px solid black;
    background: white;
    padding: 1rem;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-row {
    display: flex;
}