:root {
    --tariff-button-width: 46px;
    --tariff-button-height: 27px;

    --tariff-button-transition: all 0.2s ease-in-out;
}

.tariff-buttons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.tariff-bubble,
.tariff-button {
    height: var(--tariff-button-height);
    box-sizing: border-box;

    color: black;
    line-height: initial;
    text-align: center;
    vertical-align: middle;

    border-radius: 6px;

    padding: 4px 8px;
}


.tariff-bubble {
    background-color: white;

    border: 2px solid black;
}

.tariff-button {
    background-color: var(--color-grey);
}

.tariff-button:hover {
    cursor: pointer;
    background-color: lightgray;
}


