:root {
    --toggle-button-width: 52px;
    --toggle-button-height: 32px;

    --toggle-knob-size: 24px;

    --toggle-button-transition: all 0.2s ease-in-out;
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: var(--margin-large);
}

.text-toggle-button.text-inputs {
    transition: var(--toggle-button-transition);
}

.text-toggle-button.text-inputs.on {
    font-weight: 700;
}

.toggle-button {
    width: var(--toggle-button-width);
    height: var(--toggle-button-height);
    border: 1px solid black;
    background-color: black;
    border-radius: 100px;
    position: relative;
    padding: 0;
    cursor: pointer;
    transition: var(--toggle-button-transition);
}

.toggle-button.on {
    background-color: black;
}

.toggle-knob {
    width: var(--toggle-knob-size);
    height: var(--toggle-knob-size);
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 23px;
    transition: var(--toggle-button-transition);
}

.toggle-button.on .toggle-knob {
    left: 3px;
}
