:root {
    --tooltip-width: 220px;
    --tooltip-height: 200px;
}

.tooltip {
    position: absolute;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: var(--tooltip-width);
    /*height: var(--tooltip-height);*/
    padding: 20px 30px;
}

.tooltip-header,
.tooltip-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tooltip-header {
    align-items: center;
    margin-bottom: 10px;
}

.tooltip-row {
    align-items: last baseline;
}

.tooltip-var-name.text-support-small {
    width: 30%;
}
