@import url("@one-data/observable-themes/styles/main.css");
@import url("@one-data/observable-themes/styles/fonts.css");

@import url("observablehq:theme-air.css");
@import url("observablehq:theme-alt.css");

@import url("./styles/headline.css");
@import url("./styles/deck.css");
@import url("./styles/legend.css");
@import url("./styles/chart-title.css");
@import url("./styles/chart-subtitle.css");
@import url("./styles/africa-hexmap.css");
@import url("./styles/exposure-card.css");

:root {
    --wrapper-width: 600px
}

/* wrapper styles */
.wrapper {
    margin: auto;
    max-width: var(--wrapper-width);
    text-align: center;
}

/* for exposure and country card */
.tariff-card {
    border: 2px solid black;
    /*padding: 4px 12px;*/
}