@import url("@one-data/observable-themes/styles/main.css");
@import url("@one-data/observable-themes/styles/fonts.css");

@import url("observablehq:theme-air.css");

@import url("./styles/layout.css");
@import url("./styles/text.css");

@import url("styles/tariff-card.css");
@import url("styles/flag-icon.css");
@import url("styles/swatch.css");

@import url("./styles/headline.css");
@import url("./styles/deck.css");
@import url("./styles/intro-text.css");
@import url("styles/description-text.css");

@import url("./styles/sticky-controls.css");
@import url("./styles/dropdown.css");
@import url("./styles/slider.css");
@import url("./styles/tooltip.css");
@import url("./styles/toggle-button.css");
@import url("styles/tariff-pills.css");

@import url("./styles/legend.css");
@import url("./styles/exposure-card.css");
@import url("./styles/country-carousel.css");
@import url("styles/selection-card.css");

@import url("./styles/column-plot.css");
@import url("./styles/mobile.css");

:root {
    --main-block-width:  768px;
    --filters-width: 250px;

    --margin-small: 10px;
    --margin-medium: 20px;
    --margin-large: 40px;
    --margin-extra-large: 80px;

    --color-grey: #E5E7EB;
    --color-teal: #17858C;
}